.wrapper {
  display: grid;
  background-color: white;
  place-items: center;
  width: 100%;
  height: 100vh;
}

.login{
  place-self: center;
  background: #F5F7FF;
  width: 550px;
  height: 430px; 
  border-radius: 8px;
}

.login__title{
  display: flex;
  align-items: center;
  
  width: 85%;
  height: 46px;
 
  margin: auto;
  margin-top: 30px;
   
  font-weight: 600;
  font-size: var(--lg);
 
  line-height: 21px;
}

.login__subtitle{
  width: 85%;
  height: 23px;
  
  margin: auto;
  margin-top: 10px;
  
  font-size: var(--md);
}

.login__form{
  display: flex;
  flex-direction: column;
}

.login__form-label{
  margin: auto;
  margin-top: 15px;
  
  width: 85%;
  font-weight: 600;

  color: var(--black);
  font-size: var(--md);

  line-height: 210%;
}

.login__form-input{
  display: flex;
  align-items: center;
  
  background: #FFFFFF;
 
  width: 85%;
  height: 50px;

  margin: auto;
  padding: 10px;  

  border: 1px solid #A2A6B0;
  border-radius: 8px;
}

.login__form-label span {
  color: red;
}

.login__form-submit{
  background: #0156FF;

  width: 151px;
  height: 50px;

  color: white;
  font-size: var(--md);

  margin-left: 40px;
  
  border-radius: 50px;
  border: none;
}

.login__form-forgot{
  color: #0156FF;
  font-size: var(--md);

  margin-left: 15px;
  
  text-decoration: none;
}

.login__footer{
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 25px;
}
